.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: 4px dashed #384270;
}

#fasta-input-label {
    display: block;
}

.upload-icon {
    width: 25px;
    height: 25px;
    background: url(../../images/upload.png) no-repeat center center;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}


.drop-container>input {
    display: none;
}