.container {
    /* transform: translateY(-100%); */
}

.container p {
    color: red;
    text-align: center;
}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 700px;
    height: 100px;
    border: 4px dashed #4aa1f3;
}

.drop-message {
    text-align: center;
    color: #4aa1f3;
    font-family: Arial;
    font-size: 20px;
}

.upload-icon {
    width: 25px;
    height: 25px;
    background: url(../../images/upload.png) no-repeat center center;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.file-display-container {
    position: fixed;
    width: 700px;
}

.drop-container>input {
    display: none;
}