.fasta-input-header {
    padding-bottom: 10px;
}

.fasta-input-title {
    font-size: larger;
    font-weight: bold;
}

.sample-fasta {
    text-align: end;
}

#fasta-sequence {
    height: 175px;
}

Form p {
    padding: 0;
    margin: 5px;
}