:root {
    --left-margin: 30px
}

.file-status-bar {
    margin-top: 10px;
    margin-bottom: 20px;
}

.file-type {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    line-height: 13px;
    /* display: inline-block !important; */
    position: absolute;
    margin-top: 10px;
    padding: 0 3px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #abc;
    color: #fff;
    background: #0080c8;
}

.file-type-logo {
    width: 30px;
    height: 30px;
    background: url(../../images/generic.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
}

.file-info {
    margin-left: var(--left-margin);
}

.file-name {
    display: inline-block;
    color: #4aa1f3;
    padding-left: 10px;
    cursor: pointer;
}

.file-error {
    color: #9aa9bb;
}

.file-size {
    display: inline-block;
    color: #444242;
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
}

@media only screen and (min-width: 1024px) {
    .file-error-message {
        text-align: end;
        color: red;
    }
}

@media only screen and (max-width: 1024px) {
    .file-error-message {
        margin-left: var(--left-margin);
        padding: 15px;
        color: red;
        font-size: small;
    }
}

.file-error-message-text {
    position: absolute;
    top: 5px;
}

.file-remove {
    /* line-height: 15px; */
    text-align: end;
    color: red;
}