.title {
  font-size: 2rem;
  text-align: center !important;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #384270;
  font-weight: bold;
}

.alternative-upload {
  text-align: center;
  text-transform: uppercase;

  font-weight: 700;
  font-size: larger;
}

.upload-error-message {
  color: red
}

.loader {
  margin-right: 10px;
}